<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <header>
        <style>
            .submission_card {
                text-align: center;
                /* background-color: rgba(241, 156, 121); */
                background-color: rgb(11, 0, 77);
                max-width: 400px;
                height: fit-content;
                box-shadow: 10px 10px 3px;
                font-family: Georgia, serif;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100vw;
                height: 100vh
            }
        </style>
    </header>
    <body>
        <div class="container">
            <div class="submission_card">

                <!-- BROTHER ITNERVIEW SUBMISSION TABLE -->
                <table class="table-primary">
                    <thead>
                        <tr><th scope="col">Brother Interview Submission</th></tr>
                    </thead>
                    <tbody>
                        <form action="/submit_interview" method="POST">
                            <tr>
                                <td><input type="hidden" name="username" value="<%= username %>"></input></td>
                            </tr>
                            <tr>
                                <td>                                    
                                    <select class="form-select" id="brother" name="brother">
                                        <option selected>Choose...</option>
                                        <option value="Cole Krant">Cole Krant</option>
                                        <option value="Coleman">Coleman</option>
                                        <option value="Cooley">Cooley</option>
                                        <option value="Gates">Gates</option>
                                        <option value="RK">RK</option>
                                        <option value="Rizer">Rizer</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="form-select" id="family" name="family">
                                        <option selected>Choose...</option>
                                        <option value="Antosh">Antosh</option>
                                        <option value="Coleman">Coleman</option>
                                        <option value="Cooley">Cooley</option>
                                        <option value="Gates">Gates</option>
                                        <option value="RK">RK</option>
                                        <option value="Rizer">Rizer</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><input class="form-control" type="file" id="proof" name="proof"></td>
                            </tr>
                            <tr>
                                <td>
                                    <button
                                    action="submit"
                                    class="btn default"
                                    style="background-color: rgb(4, 125, 153); color: white">
                                    Submit
                                    </button>
                                </td>
                            </tr>
                        </form>
                        <!-- <tr>
                            <form action="/submit_interview" method="POST">
                                <input type="hidden" name="username" value="<%= username %>"></input>
                                <td>
                                    <input class="w3-input w3-border" type="text" placeholder="Be sure to spell correctly" name="brother" required>
                                </td>
                                <td>
                                    <select class="form-select" id="family" name="family">
                                        <option selected>Choose...</option>
                                        <option value="1">Antosh</option>
                                        <option value="2">Coleman</option>
                                        <option value="3">Cooley</option>
                                        <option value="4">Gates</option>
                                        <option value="5">RK</option>
                                        <option value="6">Rizer</option>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control" type="file" id="proof" name="proof">
                                </td>
                                <td>
                                    <button
                                    action="submit"
                                    class="btn default"
                                    style="background-color: rgb(4, 125, 153); color: white">
                                    Submit
                                    </button>
                                </td>
                            </form>
                        </tr> -->
                    </tbody>
                </table>



                <!-- BROTHER INTERVIEW SUBMISSION
                <form action="/submit_interview" method="POST">

                    <div class="mb-3">
                        <input type="hidden" name="username" value="<%= username %>"></input>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="brother">Brother</label>
                            <input class="w3-input w3-border" type="text" placeholder="Be sure to spell correctly" name="brother" required>
                        </div>

                        <div class="input-group mb-3">
                            <label class="input-group-text" for="family">Family</label>
                            <select class="form-select" id="family" name="family">
                            <option selected>Choose...</option>
                            <option value="1">Antosh</option>
                            <option value="2">Coleman</option>
                            <option value="3">Cooley</option>
                            <option value="4">Gates</option>
                            <option value="5">RK</option>
                            <option value="6">Rizer</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="formFile" class="form-label">Brother Interview Picture</label>
                            <input class="form-control" type="file" id="proof" name="proof">
                        </div>

                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">  Submit Changes  </button>
                    
                    </div>

                </form>

            </div>
        </div> -->
    </body>
</main>

<%- include ('../partials/footer') %>