<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <header>
        <style>
            .riverbridge_bg {
                background-image: url('../../resources/img/River_Bridge.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover
            }
            .card_bg {
                background-image: url('../../resources/img/Mountain_Gradient');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover
            }
            h1 {
                font-size: x-large;
                color:#00014b;
                text-align: center;
            }
            h3 {
                font-size: x-large;
                color:#00014b;
                text-align: center;
            }
            p {
                font-size: normal;
                color:#00014b;
                text-align: center;
            }

            /* COMMUNITY CARD CSS */
            .card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                max-width: 300px;
                margin: auto;
                text-align: center;
                font-family: arial;
            }
            
            .title {
                color: white;
                font-size: 18px;
            }
            
            button {
                border: none;
                outline: 0;
                display: inline-block;
                padding: 8px;
                color: white;
                background-color: #000;
                text-align: center;
                cursor: pointer;
                width: 100%;
                font-size: 18px;
            }
            
            a {
                text-decoration: none;
                font-size: 22px;
                color: black;
            }

            img {
                width:100%;
                max-width:424px;
            }
            
            button:hover, a:hover {
                opacity: 0.7;
            }
            .col-card {
                text-align: center;
                justify-content: center;
                align-content: center;
            }

            .divider {
                display: block;
                background-color: #00014b;
                color: #00014b;
            }

            .profile-card {
                background-color: #ffffff;
                padding-left: 2px;
                padding-top: 2px;
            }
        </style>
    </header>
    <body class="riverbridge_bg">
        <!-- <section> USER INFO -->
            <div class="row">
                <div class="w3-container w3-padding-64 w3-center" id="user">
                    <div class="row"> 
                        <div class="col">
                            <div class="w3-quarter" style="padding-left: 10px;">
                                <div class="profile-card">
                                    <img src="<%= img ? img : '../../resources/pfp/Default_Avatar.jpg' %>" alt="Default" style="width:80%" class="w3-circle w3-hover-opacity"></img>
                                    <h1><%= username ? username : 'Name Unknown' %></h1>
                                    <h3><%= major ? major : 'Major Unkown' %></h3>

                                    <!-- UPDATE PROFILE :: W3-Library -->
                                    <div class="w3-container">
                                        <button onclick="document.getElementById('review').style.display='block'" class="w3-button w3-green w3-large">Update Profile</button>
                                    
                                        <!-- PROFILE MODAL -->
                                        <div id="review" class="w3-modal">
                                            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                                        
                                                <!-- PROFILE MODAL HEADER -->
                                                <div class="w3-center"><br>
                                                    <span onclick="document.getElementById('review').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                                                    <img src="<%= img ? img : '../../resources/pfp/Default_Avatar.jpg' %>" alt="Picture" style="width:30%" class="w3-circle w3-margin-top">
                                                </div>
                                        
                                                <!-- PROFILE MODAL FORM -->
                                                <div class="w3-section">
                                                    <form class="w3-container" action="/update_profile" method="POST">
            
                                                        <label style="text-align:left" for="username"><b>Username</b></label>
                                                        <input class="w3-input w3-border" type="text" name="username" required></input>
            
                                                        <label style="text-align:left" for="img"><b>Profile Picture</b></label>
                                                        <input class="w3-input w3-border" type="text" placeholder="Paste a URL from the Internet" name="img" required>
            
                                                        <label style="text-align:left" for="class"><b>Class</b></label>
                                                        <input class="w3-input w3-border" type="text" placeholder="Freshman, Sophomore, Junior or Senior" name="class" required>
            
                                                        <label style="text-align:left" for="major"><b>Major</b></label>
                                                        <input class="w3-input w3-border" type="text" placeholder="If Business, include Emphasis" name="major" required>
            
                                                        <label style="text-align:left" for="committee"><b>Committee</b></label>
                                                        <input class="w3-input w3-border" type="text" placeholder="Once assigned, state committee. Otherwise list 'N/A'" name="committee" required>
            
                                                        <input type="hidden" name="user_id" value="<%= home.user_id %>"></input>

                                                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">  Submit Changes  </button>
                                                    </form>
                                                </div>
                                        
                                                <!-- REVIEW MODAL FOOTTER  -->
                                                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                                                    <button onclick="document.getElementById('review').style.display='none'" type="button" class="w3-button w3-block w3-theme-blue-grey w3-section w3-padding">Cancel</button>
                                                </div>
            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </section> -->
    </body>
</main>

<%- include ('../partials/footer') %>