<%- include ('../partials/header') %>
<%- include ('../partials/newnav') %>

<main>
  <header>
      <style>

      </style>
  </header>
  <body>
    <div class="container" style="padding:10px">

      <% 
          let panel_id = 0; 
          const panel_heading = "head-";
          const panel_body = "body-";
          let panel_h = '';
          let panel_b = '';
          let time;
      %>
      <div class="accordion" id="accordion">
        <% home.forEach(home => { %>

          <% 
              panel_h = "" + panel_heading + panel_id;
              panel_b = "" + panel_body + panel_id;
              panel_id = panel_id + 1;
              time = home.time.toString().substring(0, 10);
              image = "data:image/png;base64," + home.imghere;
          %>

          <div class="accordion-item">
              <h2 class="accordion-header" id="<%= panel_h %>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="<%= panel_b %>" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    
                  <div class="row"> <!-- ANNOUNCEMENT HEADING -->

                    <div class="col">
                      <img src="<%= image %>" class="w3-circle w3-hover-opacity" width="20%" height="90%"></img>
                    </div>
                    <div class="col">
                      <h1 style="color:black"> <%= home.subject %> </h1>
                    </div>
                    <div class="col">
                      <h5 style="color:black"> <%= time %> </h5>
                    </div>

                  </div>

                </button>
              </h2>
            <div id="<%= panel_b %>" class="accordion-collapse collapse show" aria-labelledby="<%= panel_h %>">
            <div class="accordion-body">
                
                <%= home.announcement %>

            </div>
          </div>
        <% }) %>
      </div>
    </div>
    
  </body>
</main>

<%- include ('../partials/footer') %>

<!--

    <div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
-->