<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <header>
    <style>
      .networking {
        background-image: url('../../resources/img/networking.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover
      }
    </style>
  </header>
    <body class="networking">
    <!-- MyNetworking-->
      <div class="w3-container w3-padding-64 w3-center">
        <h1 class="modernist" style="color:black; text-align: center;"><strong>My Weekly Networking Groups</strong></h1>
        <h3 class="modernist-small" style="color:black; text-align: center;"><%= username %></h3>
        <%
          var count_col = 0;      // variable to limit 4 cards per row
          var start = 0;          // variable to limit 4 cards per row
          var count_cmp = 4;      // variable to track how many cards have been input per row
          var index = 0;          // variable to track net_groups array
          var pseudo = '';        // variable to code html
          var image = "";
          pseudo = pseudo + '<div class="w3-row">';     // begin the row row
    
          net_groups.forEach(net_groups => {
            // if(net_groups.username != 'Cole Krant' && net_groups.username != 'Katie McDonald' && net_groups.username != 'Emma Kochenderfer' && net_groups.username != 'Nathan Brown' && net_groups.username != 'Harrison Klein') {
              if(count_col === start) {

                count_col = count_col + 1;
                image = "data:image/png;base64," + net_groups.proof;
                pseudo = pseudo + '<div class="w3-quarter"  style="padding:10px">';                     // create a card
                  pseudo = pseudo + '<div class="card-group">';
                      pseudo = pseudo + '<div class="card" style="background-color:white;">';
                          pseudo = pseudo + '<img src="' + image + '" width="500px" height="500px" class="card-img-top" alt="Profile Picture">';
                            pseudo = pseudo + '<div class="card-body">';
                              pseudo = pseudo + '<h2 style="color:#2B4B80; text-align:left;">' + net_groups.group_week +  '</h2>';
                              pseudo = pseudo + '<p class="title" style="color:#2B4B80; text-align:left;">' + net_groups.description + '</p>';
                          pseudo = pseudo + '</div>';
                      pseudo = pseudo + '</div>';
                  pseudo = pseudo + '</div>';
                pseudo = pseudo + '</div>';

                index++;

              }
              else if(count_col < count_cmp) {

                count_col = count_col + 1;                                        // incriment count
                image = "data:image/png;base64," + net_groups.proof;
                pseudo = pseudo + '<div class="w3-quarter" style="padding:10px">';                     // same row, input card
                  pseudo = pseudo + '<div class="card-group">';
                      pseudo = pseudo + '<div class="card" style="background-color:white;">';
                          pseudo = pseudo + '<img src="' + image + '" width="500px" height="500px" class="card-img-top" alt="Profile Picture">';
                            pseudo = pseudo + '<div class="card-body">';
                              pseudo = pseudo + '<h2 style="color:#2B4B80; text-align:left;">' + net_groups.group_week +  '</h2>';
                              pseudo = pseudo + '<p class="title" style="color:#2B4B80; text-align:left;">' + net_groups.description + '</p>';
                          pseudo = pseudo + '</div>';
                      pseudo = pseudo + '</div>';
                  pseudo = pseudo + '</div>';
                pseudo = pseudo + '</div>';

                index++;

              }
              else if(count_col === count_cmp) {

                image = "data:image/png;base64," + net_groups.proof;
                pseudo = pseudo + '</div>';                                       // close the card
                pseudo = pseudo + '<div class="w3-row">';                         // begin the row row
                pseudo = pseudo + '<div class="w3-quarter" style="padding:10px">';                     // create a card
                  pseudo = pseudo + '<div class="card-group">';
                      pseudo = pseudo + '<div class="card" style="background-color:white;">';
                          pseudo = pseudo + '<img src="' + image + '" width="500px" height="500px" class="card-img-top" alt="Profile Picture">';
                            pseudo = pseudo + '<div class="card-body">';
                              pseudo = pseudo + '<h2 style="color:#2B4B80; text-align:left;">' + net_groups.group_week +  '</h2>';
                              pseudo = pseudo + '<p class="title" style="color:#2B4B80; text-align:left;">' + net_groups.description + '</p>';
                          pseudo = pseudo + '</div>';
                      pseudo = pseudo + '</div>';
                  pseudo = pseudo + '</div>';
                pseudo = pseudo + '</div>';
                start = count_col;                  // indicate new row
                count_cmp = count_cmp + 4;          // set new ceiling

              }
            }
          //}
          ) 
        %>
        <%- pseudo %>
      </div>
    </div>
  </body>
</main>

<%- include ('../partials/footer') %>