<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <header>
        <style>
            .user_bg {
                background-image: url('<%= profile[0].background %>');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover
            }


            .card_bg {
                background-image: url('../../resources/img/Mountain_Gradient');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover
            }

            /* COMMUNITY CARD CSS */
            .card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                max-width: 300px;
                margin: auto;
                text-align: center;
                font-family: arial;
            }

            .hobbies-card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                max-width: 700px;
                margin: auto;
                text-align: center;
                font-family: arial;
            }
            
            .title {
                color: white;
                font-size: 18px;
            }
            
            button {
                border: none;
                outline: 0;
                display: inline-block;
                padding: 8px;
                color: white;
                background-color: #000;
                text-align: center;
                cursor: pointer;
                width: 100%;
                font-size: 18px;
            }
            
            a {
                text-decoration: none;
                font-size: 22px;
                color: black;
            }

            img {
                width:100%;
                max-width:424px;
            }
            
            button:hover, a:hover {
                opacity: 0.7;
            }

            .divider {
                display: block;
                background-color: #00014b;
                color: #00014b;
            }

        </style>
    </header>
    <body class="user_bg">

        <div class="container">
            <div class="row">

                <div class="col">
                    <div class="card-group" style="padding:10px">
                        <div class="card" style="background-color:#2B4B80">
                            <img src="<%= profile[0].pfp_img ? 'data:image/png;base64,' + profile[0].pfp_img : '../../resources/pfp/Default_Avatar.jpg' %>" class="card-img-top"></img>
                            <div class="card-body">
                            <h1 class="card-title" style="color:white; text-align: left;">
                                <strong><%= profile[0].name %></strong>
    
                                <a  href="<%= profile[0].spotify ? profile[0].spotify : '' %>" style="color:#1ED760">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-spotify" viewBox="0 0 16 16">
                                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.669 11.538a.498.498 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686zm.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858zm.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288z"/>
                                </svg></a>
    
    
                                <a href="<%= profile[0].linkedin ? profile[0].linkedin : '' %>" style="color:#0077B5">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                                    </svg></a>
    
                            </h1>
    
                            <div class="row">
                                <h5 style="color:white; text-align: left;"><%= profile[0].major ? profile[0].major + ', ' : '' %><%= profile[0].class ? profile[0].class : '' %></h5>
                            </div>
                            <div class="row" style="text-align: left;">
                                <br>
                                <p style="color:white" class="card-text"><%= profile[0].bio ? profile[0].bio : '' %></p>
                                <br>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="/update_profile" style="font-size:small; color:white;">UPDATE PROFILE</a>
                        </div>
                    </div>
                </div>
                
            </div>


            <div class="col" style="background-color:#000">
                <div class="card-group" style="background-color:white">

                    <div id="carouselExampleCaptions" class="carousel slide" style="width:100%">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="<%= profile[0].h1_img ? 'data:image/png;base64,' + profile[0].h1_img : '../../resources/img/Maroon_Bells.jpg' %>" class="d-block w-100"></img>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5><%= profile[0].hobby1 ? profile[0].hobby1 : 'Activity 1' %></h5>
                                    <p><%= profile[0].h1_caption ? profile[0].h1_caption : 'Caption for Activity one.' %></p>
                                </div>


                            </div>
                            <div class="carousel-item">
                                <img src="<%= profile[0].h2_img ? 'data:image/png;base64,' + profile[0].h2_img : '../../resources/img/Maroon_Bells.jpg' %>" class="d-block w-100"></img>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5><%= profile[0].hobby2 ? profile[0].hobby2 : 'Activity 2' %></h5>
                                    <p><%= profile[0].h2_caption ? profile[0].h2_caption : 'Caption for Activity two.' %></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="<%= profile[0].h3_img ? 'data:image/png;base64,' + profile[0].h3_img : '../../resources/img/Maroon_Bells.jpg' %>" class="d-block w-100"></img>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5><%= profile[0].hobby3 ? profile[0].hobby3 : 'Activity 3' %></h5>
                                    <p><%= profile[0].h3_caption ? profile[0].h3_caption : 'Caption for Activity three.' %></p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </div>

        </div>

    </body>
</main>

<%- include ('../partials/footer') %>


<!-- 
<div id="carousel" class="carousel slide" style="padding:10px; background-color:red">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="<%= profile[0].h1_img ? 'data:image/png;base64,' + profile[0].h1_img : '../../resources/img/First_Slide.png' %>" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5><%= profile[0].hobby1 ? profile[0].hobby1 : 'Activity 1' %></h5>
          <p><%= profile[0].h1_caption ? profile[0].h1_caption : 'Caption for Activity one.' %></p>
        </div>
      </div>
      <div class="carousel-item active">
        <img src="<%= profile[0].h2_img ? 'data:image/png;base64,' + profile[0].h2_img : '../../resources/img/Second_Slide.png' %>" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
            <h5><%= profile[0].hobby2 ? profile[0].hobby2 : 'Activity 2' %></h5>
            <p><%= profile[0].h2_caption ? profile[0].h2_caption : 'Caption for Activity two.' %></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="<%= profile[0].h3_img ? 'data:image/png;base64,' + profile[0].h3_img : '../../resources/img/Third_Slide.png' %>" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
            <h5><%= profile[0].hobby3 ? profile[0].hobby3 : 'Activity 3' %></h5>
            <p><%= profile[0].h3_caption ? profile[0].h3_caption : 'Caption for Activity three.' %></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->