<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <header>
        <style>
            .user_bg {
                background-image: url('<%= profile[0].background %>');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover
            }

            .page_container {
                display: grid;
                grid-template-columns: 1800px 1800px 1800px;
                gap: 10px;
                padding: 60px;
            }

            .grid-container > div {
                background-color: rgba(161, 23, 23, 0.8);
                text-align: center;
                padding: 20px 0;
                font-size: 30px;
            }

        </style>
    </header>
    <body class="user_bg">

        <div class="page_container">
            <div class="row">
            
                <!-- COLUMN ONE -->
                <div class="col">

                    <!-- HOBBIES CAROUSEL -->
                    <% if(profile[0].hobby1 != null || profile[0].hobby2 != null || profile[0].hobby3 != null) { %>
                        <div class="card-group" style="padding: 5px; padding-bottom: 30px;">
                            <div class="card" style="background-color:#2B4B80;" >
                                
                                <div id="carouselExampleIndicators" class="carousel slide">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="<%= profile[0].h1_img ? 'data:image/png;base64,' + profile[0].h1_img : '../../resources/img/Maroon_Bells.jpg' %>" class="d-block w-100" alt="..." style="width:100%; height:100%; object-fit: contain;">
                                            <h3 style="color:white"><%= profile[0].hobby1 ? profile[0].hobby1 : 'Activity 1' %></h3>
                                            <p style="color:white"><%= profile[0].h1_caption ? profile[0].h1_caption : 'Caption for Activity one.' %></p>
                                            <br>
                                        </div>
                                        <div class="carousel-item">
                                            <img src="<%= profile[0].h2_img ? 'data:image/png;base64,' + profile[0].h2_img : '../../resources/img/Inspiring_Sunset.jpeg' %>" class="d-block w-100" alt="..." style="width:100%; height:100%; object-fit: contain;">
                                            <h3 style="color:white"><%= profile[0].hobby2 ? profile[0].hobby2 : 'Activity 1' %></h3>
                                            <p style="color:white"><%= profile[0].h2_caption ? profile[0].h2_caption : 'Caption for Activity one.' %></p>
                                            <br>
                                        </div>
                                        <div class="carousel-item">
                                            <img src="<%= profile[0].h3_img ? 'data:image/png;base64,' + profile[0].h3_img : '../../resources/img/Mountains_4k.jpg' %>" class="d-block w-100" alt="..." style="width:100%; height:100%; object-fit: contain;">
                                            <h3 style="color:white"><%= profile[0].hobby3 ? profile[0].hobby3 : 'Activity 1' %></h3>
                                            <p style="color:white"><%= profile[0].h3_caption ? profile[0].h3_caption : 'Caption for Activity one.' %></p>
                                            <br>
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    <% } %> 


                    <!-- GALLERY CAROUSEL -->
                    <% if(profile[0].g1_img != null || profile[0].g2_img != null || profile[0].g3_img != null || profile[0].g4_img != null || profile[0].g5_img != null || profile[0].g6_img != null) { %>
                        <div class="card-group" style="padding: 5px; padding-bottom: 30px;">
                            <div class="card" style="background-color:#2B4B80;" >
                                
                                <div id="carouselGalleryIndicators" class="carousel slide">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselGalleryIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselGalleryIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselGalleryIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                        <button type="button" data-bs-target="#carouselGalleryIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                        <button type="button" data-bs-target="#carouselGalleryIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                                        <button type="button" data-bs-target="#carouselGalleryIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="<%= profile[0].g1_img ? 'data:image/png;base64,' + profile[0].g1_img : '../../resources/img/Maroon_Bells.jpg' %>" class="d-block w-100" alt="..." style="width:100%; height:100%; object-fit: contain;">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="<%= profile[0].g2_img ? 'data:image/png;base64,' + profile[0].g2_img : '../../resources/img/Inspiring_Sunset.jpeg' %>" class="d-block w-100" alt="..." style="width:100%; height:100%; object-fit: contain;">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="<%= profile[0].g3_img ? 'data:image/png;base64,' + profile[0].g3_img : '../../resources/img/Flatiron_Birdseye.jpg' %>" class="d-block w-100" alt="..." style="width:100%; height:100%; object-fit: contain;">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="<%= profile[0].g4_img ? 'data:image/png;base64,' + profile[0].g4_img : '../../resources/img/River_Bridge.jpg' %>" class="d-block w-100" alt="..." style="width:100%; height:100%; object-fit: contain;">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="<%= profile[0].g5_img ? 'data:image/png;base64,' + profile[0].g5_img : '../../resources/img/Yellowstone_Vibes.jpg' %>" class="d-block w-100" alt="..." style="width:100%; height:100%; object-fit: contain;">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="<%= profile[0].g6_img ? 'data:image/png;base64,' + profile[0].g6_img : '../../resources/img/Mountains_4k.jpg' %>" class="d-block w-100" alt="..." style="width:100%; height:100%; object-fit: contain;">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselGalleryIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselGalleryIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    <% } %> 

                </div><!-- END COLUMN ONE -->
                    


                <!-- COLUMN TWO -->
                <div class="col">
                
                    <!-- PERSON CARD -->
                    <div class="card-group" style="padding: 5px; padding-bottom: 30px;">
                        <div class="card" style="background-color:#2B4B80;">
                            <img src="<%= profile[0].pfp_img ? 'data:image/png;base64,' + profile[0].pfp_img : '../../resources/pfp/Default_Avatar.jpg' %>" class="card-img-top"></img>
                            <div class="card-body">
                                <h1 class="card-title" style="color:white; text-align: left;">
                                    <strong><%= profile[0].name %></strong>
                                    <% if(profile[0].linkedin != null)  { %>
                                        <a href="<%= profile[0].linkedin ? profile[0].linkedin : '' %>" style="color:#0493e0">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                                            </svg></a>
                                    <% } %>
                                </h1>
    
                                <div class="row">
                                    <h2 style="color:white; text-align: left;"><%= profile[0].major ? profile[0].major + ', ' : '' %><%= profile[0].class ? profile[0].class : '' %></h2>
                                </div>
                                <div class="row" style="text-align: left;">
                                    <br>
                                    <h5 style="color:white" class="card-text"><%= profile[0].bio ? profile[0].bio : '' %></h5>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </div>
                                <div class="card-footer">
                                    <button class="btn default" style="background-color: rgb(4, 125, 153);" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <h5 style="color:white">BLUEBOOK</h5>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PREFERENCES -->
                    <% if(profile[0].likes != null) { %>
                        <div class="card-group" style="padding-bottom: 30px;">
                            <div class="card" style="background-color:#2B4B80; border-radius: 20px;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
        
                                                <div class="col" style="background-color:rgba(0, 128, 0, 0.671); border-radius: 20px;">
                                                    <h1 style="color:white;">Likes</h1>
                                                    <p style="color:white;"><%= profile[0].likes %></p>
                                                    <br>
                                                </div>
                                                <br>
                                                <div class="col" style="background-color:rgba(255, 0, 0, 0.5); border-radius: 20px; padding-left: 10px;">
                                                    <h1 style="color:white;">Dislikes</h1>
                                                    <p style="color:white;"><%= profile[0].dislikes %></p>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    
                    <!-- QUOTE -->
                    <% if(profile[0].quote != null) { %>
                        <div class="card-group">
                            <div class="card" style="background-color:white; border-radius: 10px;">
                                <div class="card-body">
                                    <div class="row">
                                                
                                        <div class="col">
                                            <div class="container">
                                                <h3 style="color:#2B4B80; align-self: left;">"<%= profile[0].quote %>" - <%= profile[0].name %></h3>
                                            </div>
                                        </div>
                
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>


                    <% if(profile[0].fav_interview_brother != null) { %>
                        <div class="card-group" style="padding: 5px; padding-bottom: 30px;">
                            <div class="col">
                                <div class="w3-circle" style="background-color:#2B4B80;">
                                    <br>
                                    <br>
                                    <h4 style="color:white; text-align: center;">
                                        <img src="<%= profile[0].fav_interview_img ? 'data:image/png;base64,' + profile[0].fav_interview_img : '../../resources/pfp/Default_Avatar.jpg' %>" class="w3-circle" width="50%" height="60%"></img>
                                        <h1 style="color:white; text-align: center;"><%= profile[0].fav_interview_brother ? profile[0].fav_interview_brother : '' %></h1>
                                        <h4 style="color:white; text-align: center;">Most Memorable Brother Interview</h4>
                                        <h5 style="color:white; text-align: center;" class="card-text"><%= profile[0].fav_interview_caption ? profile[0].fav_interview_caption : '' %></h5>
                                    </h4>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    <% } %>


                </div><!-- END COLUMN TWO -->


                <!-- COLUMN THREE -->
                <div class="col">
                    
                    <!-- CAREER -->
                    <% if(profile[0].career_position != null) { %>
                        <div class="card-group" style="padding: 5px; padding-bottom: 30px;">
                            <div class="card" style="padding:10px; background-color:white; border-radius: 10px;">
                                <div class="card-body" style="padding: 5px; padding-bottom: 8px;">
                                    <div class="card-footer">
                                        <br>
                                        <div class="row">
                                            <h1 style="color:#2B4B80; text-align: left;"><%= profile[0].career_position %></h1>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <h5 style="color:#2B4B80; text-align: left;"><%= profile[0].career_organization %>, <%= profile[0].career_duration %></h5>
                                            </div>
                                        </div>
                                        <hr class="solid">
                                        <h1 style="color:#2B4B80; text-align: left;">Experience</h1>
                                        <h5 style="color:#2B4B80; text-align: left;"><%= profile[0].experience %></h5>
                                        <br>
                                        <h1 style="color:#2B4B80; text-align: left;">Aspirations</h1>
                                        <h5 style="color:#2B4B80; text-align: left;"><%= profile[0].aspirations %></h5>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>

                    <!-- RESUME -->
                    <% if((profile[0].resume != '') && (profile[0].resume != null)) { %>
                        <div class="card-group" style="padding: 5px; padding-bottom: 30px">
                            <div class="card" style="background-color:#2B4B80;">
                                <img src="<%= profile[0].resume ? 'data:image/png;base64,' + profile[0].resume : ''%>" class="card-img-top"></img>
                            </div>
                        </div>
                    <% } %>

                </div><!-- END COLUMN THREE -->
            </div>
        </div>




        <!-- CONTACT INFO MODAL -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel" style="color:#000"><strong>Contact Information</strong>
                    <% if(profile[0].linkedin != null)  { %>
                        <a href="<%= profile[0].linkedin ? profile[0].linkedin : '' %>" style="color:#0077B5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                            </svg></a>
                    <% } %>
                
                    </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <% if(profile[0].phone != null) { %>
                        <h7><strong>Phone Number:</strong>   <%= profile[0].phone  %></h7>
                        <br>
                    <% } %>
                    <% if(profile[0].school_email != null) { %>
                        <h7><strong>School Email:</strong>   <%= profile[0].school_email  %></h7>
                        <br>
                    <% } %>
                    <% if(profile[0].personal_email != null) { %>
                        <h7><strong>Personal Email:</strong>   <%= profile[0].personal_email  %></h7>
                        <br>
                    <% } %>
                    <% if(profile[0].professional_email != null) { %>
                        <h7><strong>Professional Email:</strong>   <%= profile[0].personal_email  %></h7>
                        <br>
                    <% } %>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>




    </body>
</main>

<%- include ('../partials/footer') %>