<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main class="d-flex align-items-center" style="height: 100vh">
    <header>
        <style>
            .flatiron_bg {
                background-image: url('../../resources/img/Flatiron_Birdseye.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover
            }
            .submission_card {
              text-align: center;
              background-color: #2B4B80;
              max-width: 400px;
              height: 800px;
              box-shadow: 10px 10px 3px;
              font-family: 'Verdana', sans-serif;
              color: white;
            }
        </style>
    </header>
    <body class="flatiron_bg">

        <div class="container">

            <form enctype="multipart/form-data" action="/submit_interview/post" method="POST">  


                <section class="text-center text-lg-start" class="Login">
                    <div class="row g-0 d-flex align-items-center login-page-container d-flex justify-content-center" style="width: 100%">
                        <div class="col-lg-8 card-container d-flex justify-content-center">
                        
                            <div class="card-body py-5 px-md-5 login-card">
                                <h2> Brother Interview Submission </h2>
                    
                                <script>
                                    active_brothers = [];
                                    index = 0
                                    bridge.forEach(bridge => {
                                        active_brothers[index] = bridge.username;
                                        index++;
                                    });
                        
                                </script>

                                <!-- BROTHER INPUT -->
                                <select class="form-select" id="brother" name="brother">
                                    <option selected>Select Brother...</option>

                                    <%          
                                        active_brothers = [];
                                        index = 0
                                        bridge.forEach(bridge => {
                                            
                                            active_brothers[index] = bridge.username;
                                            console.log(active_brothers[index]);
                                            index++;
                                        });
                                        
                                        
                                        index = 0 
                                    %>
                                    <% while(index < active_brothers.length) { %>
                                        <option value="<%= active_brothers[index] %>"><%= active_brothers[index] %></option>
                                    <% index++; } %>
                                </select>
                    
                                <!-- FAMILY input -->
                                <select class="form-select" id="family" name="family">
                                    <option selected>Which Family?</option>
                                    <option value="Antosh">Antosh</option>
                                    <option value="Coleman">Coleman</option>
                                    <option value="Cooley">Cooley</option>
                                    <option value="Gates">Gates</option>
                                    <option value="RK">RK</option>
                                    <option value="Rizer">Rizer</option>
                                </select>

                                <br>
                                <textarea class="form-control input-lg" height="20px" type="text" placeholder="Write a summary of what you did together" name="description" required></textarea>

                                <br>
                                <input class="form-control" type="file" id="proof" name="proof">
                    
                                <button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Submit</button>
                    
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </body>
</main>

<%- include ('../partials/footer') %>