<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <header>
    <style>
        .user_bg {
            background-image: url('<%= profile[0].background %>');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover
        }
    </style>
  </header>
  <body class="user_bg">

    <div class="container" style="padding:10px;">
        <div class="card" style="width: 75%;">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="basic-info" data-bs-toggle="tab" data-bs-target="#basic-tab-pane" type="button" role="tab" aria-controls="basic-tab-pane" aria-selected="true">Basic Info</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id=" bio-tab" data-bs-toggle="tab" data-bs-target="#bio-tab-pane" type="button" role="tab" aria-controls="bio-tab-pane" aria-selected="false">Bio</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="preferences" data-bs-toggle="tab" data-bs-target="#preferences-tab-pane" type="button" role="tab" aria-controls="preferences-tab-pane" aria-selected="false">Preferences</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="hobbies" data-bs-toggle="tab" data-bs-target="#hobbies-tab-pane" type="button" role="tab" aria-controls="hobbies-tab-pane" aria-selected="false">Hobbies</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="background" data-bs-toggle="tab" data-bs-target="#background-tab-pane" type="button" role="tab" aria-controls="background-tab-pane" aria-selected="false">Background</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="interview" data-bs-toggle="tab" data-bs-target="#interview-tab-pane" type="button" role="tab" aria-controls="interview-tab-pane" aria-selected="false">Favorite Interview</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="career" data-bs-toggle="tab" data-bs-target="#career-tab-pane" type="button" role="tab" aria-controls="career-tab-pane" aria-selected="false">Career</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="gallery" data-bs-toggle="tab" data-bs-target="#gallery-tab-pane" type="button" role="tab" aria-controls="gallery-tab-pane" aria-selected="true">Gallery</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <!-- BASIC INFO SELECTION -->
                <div class="tab-pane fade show active" id="basic-tab-pane" role="tabpanel" aria-labelledby="basic-info" tabindex="0">

                    <div class="card mb-3">
                        <table class="table">
                            <thead>
                            </thead>
                            
                            <tbody>
                                <tr>
                                    <form action="/update_profile/name" method="POST">
                                        <td style="width:15%"><h5 style="color:black; text-align: center;"> Name </h5></td>
                                        <td style="max-width:100%">
                                            <input class="w3-input w3-border" type="text" name="name" placeholder="Enter your preferred name or nickname" required></input>
                                        </td>
                                        <td style="max-width:5%"><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Save Name</button></td>
                                    </form>
                                </tr>
                                <tr>
                                    <form action="/update_profile/class" method="POST">
                                        
                                        <td><h5 style="color:black; text-align: center;"> Class </h5></td>
                                        <td>
                                            <select class="form-select" id="class" name="class">
                                                <option selected>Choose...</option>
                                                <option value="Freshman">Freshman</option>
                                                <option value="Sophomore">Sophomore</option>
                                                <option value="Junior">Junior</option>
                                                <option value="Senior">Senior</option>
                                            </select>
                                        </td>
                                        <td><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Save Class</button></td>
                                    </form>
                                </tr>
                                <tr>
                                    <form action="/update_profile/major" method="POST">
                                        <td><h5 style="color:black; text-align: center;"> Major </h5></td>
                                        <td><input class="w3-input w3-border" type="text" placeholder="If Business, include emphasis" name="major" required></td>
                                        <td><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Save Major</button></td>
                                    </form>
                                </tr>
                                <tr>
                                    <form action="/update_profile/committee" method="POST">
                                        <td><h5 style="color:black; text-align: center;"> Committee </h5></td>
                                        <td><input class="w3-input w3-border" type="text" placeholder="Unless serving on a committee, leave blank" name="committee" required></td>
                                        <td><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Save Committee</button></td>
                                    </form>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

                    <div class="card mb-3">
                        <table class="table">
                            <tbody>
                                <form enctype="multipart/form-data" action="/update_profile/picture" method="POST">  
            
                                    <tr>
                                        <td><h5 style="color:black; text-align: left;"> Profile Picture </h5></td>
                                        <td><input class="w3-input w3-border" type="file" name="profile_img" id="profile_img" required></td>
                                        <td><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Save Changes</button></td>
                                    </tr>
            
                                </form>
                            </tbody>
                        </table>
                        <p>File must be still (.JPG), live photos (.HEIC) will not upload. </p>
                    </div>

                </div>
                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                    
                    <div class="card mb-3">
                        <table class="table">
                            <tbody>
                                <form action="/update_profile/contact" method="POST">  
            
                                    <tr>
                                        <td>
                                            <h5 style="color:black; text-align: left;"> School Email </h5>
                                            <input class="w3-input w3-border" type="text" name="email" placeholder="abcd5678@colorado.edu" required></input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5 style="color:black; text-align: left;"> Personal Email </h5>
                                            <input class="w3-input w3-border" type="text" name="personal_email" placeholder="abcd5678@colorado.edu" required></input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5 style="color:black; text-align: left;"> Professional Email </h5>
                                            <input class="w3-input w3-border" type="text" name="professional_email" placeholder="abcd5678@colorado.edu" required></input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5 style="color:black; text-align: left;"> LinkedIn </h5>
                                            <input class="w3-input w3-border" type="text" name="linkedin" placeholder="https://www.linkedin.com/in/FIRST-LAST/" required></input>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <h5 style="color:black; text-align: left;"> Phone Number </h5>
                                            <input class="w3-input w3-border" type="text" placeholder="512-636-2466" name="phone" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Submit</button></td>
                                    </tr>
            
                                </form>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tab-pane fade" id="bio-tab-pane" role="tabpanel" aria-labelledby="bio-tab" tabindex="0">

                    <div class="card mb-3">
                        <table class="table">
                            
                            <tbody>
                                <form action="/update_profile/bio" method="POST">  
            
                                    <tr>
                                        <td>
                                            <textarea class="form-control input-lg" height="20px" type="text" placeholder="Write a short statement about yourself" name="bio" required></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Submit</button></td>
                                    </tr>
            
                                </form>
                            </tbody>
                        </table>
                    </div>


                </div>
                <div class="tab-pane fade" id="hobbies-tab-pane" role="tabpanel" aria-labelledby="hobbies-tab" tabindex="0">

                    <br>

                    <div class="card mb-3">
                        <table class="table">
                            <tbody>
                                <form enctype="multipart/form-data" action="/update_profile/hobby1" method="POST">  
            
                                    <tr>
                                        <td style="width:10%">
                                            <h5 style="color:black; text-align: left;"> Activity 1 </h5>
                                            <input class="w3-input w3-border" type="text" name="hobby1" required></input>
                                        </td>
                                        <td>
                                            <img src="<%= profile[0].h1_img ? 'data:image/png;base64,' + profile[0].h1_img : '../../resources/pfp/Default_Avatar.jpg' %>" alt="../../resources/pfp/Default_Avatar.jpg" class="w3-circle" style="width:30%; height:10%; align-self: center;"></img>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:60%">
                                            <h5 style="color:black; text-align: left;"> Caption </h5>
                                            <textarea class="form-control input-lg" height="20px" type="text" placeholder="Write a short statement describing the memory" name="h1_caption" id="h1_caption" required></textarea>
                                        </td>
                                        <td style="width:50%">
                                            <h5 style="color:black; text-align: left;"> Picture </h5>
                                            <input class="w3-input w3-border" type="file" name="h1_img" id="h1_img" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Submit</button></td>
                                    </tr>
            
                                </form>
                            </tbody>
                        </table>
                    </div>

                    <br>

                    <div class="card mb-3">
                        <table class="table">
                            <tbody>
                                <form enctype="multipart/form-data" action="/update_profile/hobby2" method="POST">  
            
                                    <tr>
                                        <td style="width:10%">
                                            <h5 style="color:black; text-align: left;"> Activity 2 </h5>
                                            <input class="w3-input w3-border" type="text" name="hobby2" required></input>
                                        </td>
                                        <td>
                                            <img src="<%= profile[0].h2_img ? 'data:image/png;base64,' + profile[0].h2_img : '../../resources/pfp/Default_Avatar.jpg' %>" alt="../../resources/pfp/Default_Avatar.jpg" class="w3-circle" style="width:30%; height:10%; align-self: center;"></img>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:60%">
                                            <h5 style="color:black; text-align: left;"> Caption </h5>
                                            <textarea class="form-control input-lg" height="20px" type="text" placeholder="Write a short statement describing the memory" name="h2_caption" required></textarea>
                                        </td>
                                        <td style="width:50%">
                                            <h5 style="color:black; text-align: left;"> Picture </h5>
                                            <input class="w3-input w3-border" type="file" name="h2_img" id="h2_img" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Submit</button></td>
                                    </tr>
            
                                </form>
                            </tbody>
                        </table>
                    </div>

                    <div class="card mb-3">
                        <table class="table">
                            <tbody>
                                <form enctype="multipart/form-data" action="/update_profile/hobby3" method="POST">  
            
                                    <tr>
                                        <td style="width:10%">
                                            <h5 style="color:black; text-align: left;"> Activity 3 </h5>
                                            <input class="w3-input w3-border" type="text" name="hobby2" required></input>
                                        </td>
                                        <td>
                                            <img src="<%= profile[0].h3_img ? 'data:image/png;base64,' + profile[0].h3_img : '../../resources/pfp/Default_Avatar.jpg' %>" alt="../../resources/pfp/Default_Avatar.jpg" class="w3-circle" style="width:30%; height:10%; align-self: center;"></img>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:60%">
                                            <h5 style="color:black; text-align: left;"> Caption </h5>
                                            <textarea class="form-control input-lg" height="20px" type="text" placeholder="Write a short statement describing the memory" name="h3_caption" required></textarea>
                                        </td>
                                        <td style="width:50%">
                                            <h5 style="color:black; text-align: left;"> Picture </h5>
                                            <input class="w3-input w3-border" type="file" name="h3_img" id="h3_img" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Submit</button></td>
                                    </tr>
            
                                </form>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tab-pane fade" id="background-tab-pane" role="tabpanel" aria-labelledby="background-tab" tabindex="0">

                    <div class="card mb-3">
                        <table class="table">
                            <tbody>
                                <form action="/update_profile/background" method="POST">  
            
                                    <tr>
                                        <td>
                                            <h5 style="color:black; text-align: left;"> Update Background </h5>
                                            <select class="form-select" id="background" name="background">
                                                <option selected>Choose...</option>
                                                <option value="../../resources/img/Maroon_Bells.jpg">Maroon Bells</option>
                                                <option value="../../resources/img/Mountains_4k.jpg">Fall Mountains</option>
                                                <option value="../../resources/img/Mountains_Fall.jpg">Autumn Mountains</option>
                                                <option value="../../resources/img/Snowboard_Mountain.jpg">Snowy Mountain View</option>
                                                <option value="../../resources/img/Night_Bridge_City.jpg">City Scape Night</option>
                                                <option value="../../resources/img/Yellowstone_Vibes.jpg">Beautiful Countryside</option>
                                                <option value="../../resources/img/Inspiring_Sunset.jpeg">Inspiring Sunset</option>
                                                <option value="../../resources/img/River_Bridge.jpg">River Bridge</option>
                                                <option value="../../resources/img/Leeds_Koebel.jpg">Leeds School of Business</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Submit</button></td>
                                    </tr>
            
                                </form>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="preferences-tab-pane" role="tabpanel" aria-labelledby="preferences-tab" tabindex="0">

                    <div class="card mb-3">
                        <table class="table">
                            <tbody>
                                <form action="/update_profile/preferences" method="POST">  
            
                                    <tr>
                                        <td>
                                            <h5 style="color:black; text-align: left;"> Likes </h5>
                                            <textarea class="form-control input-lg" height="20px" type="text" placeholder="List things you like.. 'Hiking, Coding, Philosophy etc'" name="likes" required></textarea>
                                        </td>
                                        <td>
                                            <h5 style="color:black; text-align: left;"> Dislikes </h5>
                                            <textarea class="form-control input-lg" height="20px" type="text" placeholder="List things you don't like.. 'Apples, Onions, Ducks etc'" name="dislikes" required></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5 style="color:black; text-align: left;"> Quote </h5>
                                            <textarea class="form-control input-lg" height="20px" type="text" placeholder="Your favorite quote" name="quote" required></textarea>
                                        </td>
                                        <td>
                                            <h5 style="color:black; text-align: left;"> Aspirations </h5>
                                            <textarea class="form-control input-lg" height="20px" type="text" placeholder="Write a short statement describing your goals and ambitions in life" name="aspirations" required></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Submit</button></td>
                                    </tr>
            
                                </form>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="interview-tab-pane" role="tabpanel" aria-labelledby="interview-tab" tabindex="0">

                    <div class="card mb-3">
                        <table class="table">
                            <tbody>
                                <form enctype="multipart/form-data" action="/update_profile/fav_interview" method="POST">  
            
                                    <tr>
                                        <td style="width:10%">
                                            <h5 style="color:black; text-align: left;"> Brother </h5>
                                            <input class="w3-input w3-border" type="text" name="fav_interview_brother" required></input>
                                        </td>
                                        <td>
                                            <img src="<%= profile[0].fav_interview_img ? 'data:image/png;base64,' + profile[0].fav_interview_img : '../../resources/pfp/Default_Avatar.jpg' %>" alt="../../resources/pfp/Default_Avatar.jpg" class="w3-circle" style="width:30%; height:10%; align-self: center;"></img>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:60%">
                                            <h5 style="color:black; text-align: left;"> Caption </h5>
                                            <textarea class="form-control input-lg" height="20px" type="text" placeholder="Write a short statement describing the memory" name="fav_interview_caption" id="fav_interview_caption" required></textarea>
                                        </td>
                                        <td style="width:50%">
                                            <h5 style="color:black; text-align: left;"> Picture </h5>
                                            <input class="w3-input w3-border" type="file" name="fav_interview_img" id="fav_interview_img" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Submit</button></td>
                                    </tr>
            
                                </form>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="career-tab-pane" role="tabpanel" aria-labelledby="career-tab" tabindex="0">

                    <div class="card mb-3">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <form action="/update_profile/career_position" method="POST">
                                        <td style="width:15%"><h5 style="color:black; text-align: center;"> Position </h5></td>
                                        <td style="max-width:100%">
                                            <input class="w3-input w3-border" type="text" name="career_position" placeholder="What is your official title?" required></input>
                                        </td>
                                        <td style="max-width:5%"><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Save Position</button></td>
                                    </form>
                                </tr>
                                <tr>
                                    <form action="/update_profile/career_organization" method="POST">
                                        
                                        <td style="width:15%"><h5 style="color:black; text-align: center;"> Organization </h5></td>
                                        <td style="max-width:100%">
                                            <input class="w3-input w3-border" type="text" name="career_organization" placeholder="Enter the organization you work with" required></input>
                                        </td>
                                        <td style="max-width:5%"><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Save Organization</button></td>
                                    </form>
                                </tr>
                                <tr>
                                    <form action="/update_profile/experience" method="POST">
                                        <td style="width:15%"><h5 style="color:black; text-align: center;"> Experience </h5></td>
                                        <td><textarea class="form-control input-lg" height="20px" type="text" placeholder="Write a summary of what you learned while you worked there." name="experience" required></textarea></td>
                                        <td style="max-width:5%"><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Save Experience</button></td>
                                    </form>
                                </tr>
                                <tr>
                                    <form enctype="multipart/form-data" action="/update_profile/resume" method="POST">
                                        <td style="width:15%"><h5 style="color:black; text-align: center;"> Resume </h5></td>
                                        <td><input class="w3-input w3-border" type="file" name="resume" id="resume" required></td>
                                        <td style="max-width:5%"><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Save Experience</button></td>
                                    </form>
                                </tr>
                             </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="gallery-tab-pane" role="tabpanel" aria-labelledby="gallery-tab" tabindex="0">

                    <div class="card mb-3">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <form enctype="multipart/form-data" action="/update_profile/g1_img" method="POST">
                                        <td style="width:15%"><h5 style="color:black; text-align: center;"> Image 1 </h5></td>
                                        <td><input class="w3-input w3-border" type="file" name="g1_img" id="g1_img" required></td>
                                        <td style="max-width:5%"><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Upload</button></td>
                                    </form>
                                </tr>
                                <tr>
                                    <form enctype="multipart/form-data" action="/update_profile/g2_img" method="POST">
                                        <td style="width:15%"><h5 style="color:black; text-align: center;"> Image 2 </h5></td>
                                        <td><input class="w3-input w3-border" type="file" name="g2_img" id="g2_img" required></td>
                                        <td style="max-width:5%"><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Upload</button></td>
                                    </form>
                                </tr>
                                <tr>
                                    <form enctype="multipart/form-data" action="/update_profile/g3_img" method="POST">
                                        <td style="width:15%"><h5 style="color:black; text-align: center;"> Image 3 </h5></td>
                                        <td><input class="w3-input w3-border" type="file" name="g3_img" id="g3_img" required></td>
                                        <td style="max-width:5%"><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Upload</button></td>
                                    </form>
                                </tr>
                                <tr>
                                    <form enctype="multipart/form-data" action="/update_profile/g4_img" method="POST">
                                        <td style="width:15%"><h5 style="color:black; text-align: center;"> Image 4 </h5></td>
                                        <td><input class="w3-input w3-border" type="file" name="g4_img" id="g4_img" required></td>
                                        <td style="max-width:5%"><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Upload</button></td>
                                    </form>
                                </tr>
                                <tr>
                                    <form enctype="multipart/form-data" action="/update_profile/g5_img" method="POST">
                                        <td style="width:15%"><h5 style="color:black; text-align: center;"> Image 5 </h5></td>
                                        <td><input class="w3-input w3-border" type="file" name="g5_img" id="g5_img" required></td>
                                        <td style="max-width:5%"><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Upload</button></td>
                                    </form>
                                </tr>
                                <tr>
                                    <form enctype="multipart/form-data" action="/update_profile/g6_img" method="POST">
                                        <td style="width:15%"><h5 style="color:black; text-align: center;"> Image 6 </h5></td>
                                        <td><input class="w3-input w3-border" type="file" name="g6_img" id="g6_img" required></td>
                                        <td style="max-width:5%"><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Upload</button></td>
                                    </form>
                                </tr>
                             </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </body>
</main>

<%- include ('../partials/footer') %>
