<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <header>

  </header>
  <body>
    
    <div class="container" style="padding:10px;">

        <div class="row"> <!-- PROFILE ROW -->

            <div class="col">   <!-- PROFILE CARD COLUMN -->
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="data:image/png;base64,<%= imgHERE ? imgHERE : '../../resources/pfp/Default_Avatar.jpg' %>" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><%= username %></h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Class: <%= profile.class %></li>
                                    <li class="list-group-item">Major: <%= profile.major %></li>
                                    <li class="list-group-item">Committee: <%= profile.committee %></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" style="width: 5px;">   <!-- STATS CARD COLUMNS -->

                <div class="row"> <!-- POINTS CARD -->
                    <div class="card mb-3" style="width: 10rem;">
                        <div class="card-header">Total Points</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><%= profile.points %></li>
                        </ul>
                    </div>
                </div>

                <div class="row"> <!-- STATS CARD -->
                    <div class="card mb-3" style="width: 10rem;">
                        <div class="card-header">Brother Interviews</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><%= profile.brother_interviews %></li>
                        </ul>
                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="row"><p class="hidden"> DIVIDER  </p></div>

    <!-- ACTUAL TABLE WITH RELATED INFORMATION, UPDATES ETC :: ASSIGNMENT SUBMISSION INCLUDED -->

    <div class="container">

    </div>

  </body>
</main>

<%- include ('../partials/footer') %>