<%- include ('../../partials/header') %>
<%- include ('../../partials/menu') %>


<!-- <input type="hidden" value="<%= admin[0].user_id %>" name="edit_id" id="edit_id"></input> -->

<main>
  <header>

  </header>
  <body>

    <div class="container" style="padding:10px;">
        <div class="card">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="basic-info" data-bs-toggle="tab" data-bs-target="#basic-tab-pane" type="button" role="tab" aria-controls="basic-tab-pane" aria-selected="true">Basic Info</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Contact</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">

                <!-- BASIC INFO SELECTION -->
                <div class="tab-pane fade show active" id="basic-tab-pane" role="tabpanel" aria-labelledby="basic-info" tabindex="0">

                    <div class="card mb-3">
                        <table class="table">
                            <thead><th scope="col">Personal Info for<h1 style="color:black"> <%= admin[0].name %> </h1></th></thead>
                            <tbody>
                                <form action="/update_profile/basic-admin" method="POST">  
            
                                    <tr>
                                        <td>
                                            <label style="text-align:left" for="name"><b>Display Name</b></label>
                                            <input class="w3-input w3-border" type="text" name="name" required></input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label style="text-align:left" for="class"><b>Class</b></label>
                                            <input class="w3-input w3-border" type="text" placeholder="Freshman, Sophomore, Junior or Senior" name="class" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label style="text-align:left" for="major"><b>Major</b></label>
                                            <input class="w3-input w3-border" type="text" placeholder="If Business, include emphasis" name="major" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label style="text-align:left" for="committee"><b>Committee</b></label>
                                            <input class="w3-input w3-border" type="text" placeholder="Once assigned, state committee. Otherwise list 'N/A'" name="committee" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Submit</button></td>
                                    </tr>
                                    <input type="hidden" value="<%= admin[0].user_id %>" name="edit_id" id="edit_id"></input>

            
                                </form>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

                    <div class="card mb-3">
                        <!-- BROTHER ITNERVIEW SUBMISSION TABLE -->
                        <table class="table">
                            <thead><th scope="col">Profile Picture for<h1 style="color:black"> <%= admin[0].name %> </h1></th></thead>
                            <tbody>
                                <form enctype="multipart/form-data" action="/update_profile/picture-admin" method="POST">  
            
                                    <tr>
                                        <td>
                                            <label style="text-align:left" for="profile_img"><b>Profile Picture</b></label>
                                            <input class="w3-input w3-border" type="file" name="profile_img" id="profile_img" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Submit</button></td>
                                    </tr>
                                    <input type="hidden" value="<%= admin[0].user_id %>" name="edit_id" id="edit_id"></input>

                                </form>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">

                    <div class="card mb-3">
                        <table class="table">
                            <thead><th scope="col">Contact Information for<h1 style="color:black"> <%= admin[0].name %> </h1></th></thead>
                            
                            <tbody>
                                <form action="/update_profile/contact-admin" method="POST">  
            
                                    <tr>
                                        <td>
                                            <label style="text-align:left" for="email"><b>Email</b></label>
                                            <input class="w3-input w3-border" type="text" name="email" placeholder="abcd5678@colorado.edu" required></input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label style="text-align:left" for="linkedin"><b>LinkedIn</b></label>
                                            <input class="w3-input w3-border" type="text" name="linkedin" placeholder="https://www.linkedin.com/in/FIRST-LAST/" required></input>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label style="text-align:left" for="phone"><b>Phone</b></label>
                                            <input class="w3-input w3-border" type="text" placeholder="512-636-2466" name="phone" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><button action="submit" class="btn default" style="background-color: rgb(4, 125, 153); color: white">Submit</button></td>
                                    </tr>
                                    <input type="hidden" value="<%= admin[0].user_id %>" name="edit_id" id="edit_id"></input>
            
                                </form>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
            </div>
        </div>
    </div>

  </body>
</main>



<%- include ('../../partials/footer') %>